* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.header {
    width: 100%;
    background-color: #f8f8f855; 
    padding:30px 285px;

    h1 {
        margin-top: 10px;
    }
}

.container {
    
    .card {
        display: grid;
        
        .card-content {
            h2 {
                font-size: 30px;
                margin-bottom: 15px;
            }
            p {
                font-size: 18px;
                color:#333333;
                margin-bottom: 25px;
            }
            h3 {
                font-size: 35px;
                margin-bottom: 10px;
                color:red;
            }
            .price {
                font-size: 20px;
                color:#555555;
                margin-bottom: 20px;

                input {
                    width: 60px;
                    padding:5px;
                    font-size: 16px;
                    margin-left: 10px;
                }
            }
            button {
                padding:10px 20px;
                font-size: 16px;
                background-color: #28a745;
                color:#ffffff;
                border:none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}


@media screen and (min-width:993px) {
    

    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 0 15px;

        .card {
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .card-img {
            width: 100%;
            height: 500px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        }
    }
    
}

@media screen and (min-width:576px) and (max-width:992px) {
    .header {
        width: 100%;
        background-color: #f8f8f855; 
        padding:30px 75px;

        h1 {
            margin-top: 10px;
        }
    }
    
    .container {
        max-width: 700px;
        margin: 20px auto;
        padding: 0 15px;

        .card {
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .card-img {
            width: 100%;
            height: 500px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        }
    }
}
@media screen and (max-width:575px) {

    .header {
        width: 100%;
        background-color: #f8f8f855; 
        padding:30px 55px;

        h1 {
            margin-top: 10px;
        }
    }

    .container {
        width: 100%;
        margin: 20px auto;
        padding: 0 15px;

        .card {
            grid-template-columns: 1fr;  

            .card-img {
                width: 100%;
                height: 500px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .card-content {
                margin:10px 0;
                padding:20px 35px; 
            }
        }
    }      
}













