* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 40px;

    .logo {
        font-size: 24px;
        font-weight: bold;

        a {
            text-decoration: none; 
            color:#000000;
            &:hover {
                color:#ff6600;
            }
        }
    }
    ul {
        display: flex;
        li { 
            list-style: none;

            a {
                text-decoration: none;
                color:#000000;
                display: inline-block;
                margin:0 15px;
                font-size: 15px;
                transition:all 0.3s ease;
                &:hover {
                    color:#ff6600;
                    text-decoration: underline;
                }
            }
        }
    }
    .btn-group {
        .btn {
            padding:7px 14px;
            border-radius: 5px;
            border:none;
            background-color: #f3ecec;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: #000000;
                color:#ffffff; 
            }
        }
    }
    .humburgur {
        display: none;
    }
}

.container > .row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
}

.container > .row > .col > .card {

    &:hover > .card-img img {
        transform: scale(1.05);
    }

    &:hover { 
        transform: scale(1.01);
    }
    
    position: relative;
    border:1px solid #cccccc6f;
    border-radius: 6px;
    box-shadow: 0 0 10px #cccccc6f;
    transition: all 0.3s ease;
    cursor: pointer;
    /* background-color: red; */

    .card-img img {
        width:100%;
        height: 100%;
        object-fit: cover; 
        transition: all 0.3s ease;
    }

    .card-body {
        padding:15px;

        h3 {
            font-size: 18px; 
        }

        p {
            font-size: 26px;
            color:#e83414;
            font-weight: 800;
        }

        button { 
                padding:7px 10px;
                background-color: #059321db;
                color:#fff;
                border:none;
                cursor: pointer;
                font-size: 14px;
                border-radius: 5px;
                margin-top: 10px;

                span {
                    margin-right: 5px;
                }
        }
    }
}

.footer {
    background-color: #ffffff;   
    padding:40px;  

    main {
        
        margin: auto;

        .top {
            display: grid;
            

            section {
                /* background-color: red;  */

                h3 {
                    font-size: 16px;
                    margin-bottom:12px;
                }

                ul {
                    li {
                        list-style-type: none;
                        a {
                            text-decoration: none;
                            color:#656565;
                            font-size: 14px;
                            display: block;
                            margin:8px 0;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        hr {
            margin:20px 0;
            border:none;
            border-top:1px solid #cccccc;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                color:#555555;
                font-size: 14px;
            }
        }
    }
}

@media screen and (min-width:993px)  {
    .second-navbar {
        display: none;
    }

    .container {
        max-width: 1200px;
        margin:30px auto; 
    }

    .container > .row {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:15px;
    }

    .container > .row > .col > .card {
        width:288.75px; 

        .card-badge {
            position: absolute;
            top:15px;
            left:15px;
            background-color: #ff0000;
            color:#fff;
            padding:5px 10px;
            font-size: 12px;
            border-radius: 3px;
            z-index: 1;
        }
    }

    .card-img {
        overflow: hidden;
        width:100%;
        height: 400px;
    }

    .card-img img {
        width:100%;
        height: 100%;
        object-fit: cover; 
        transition: all 0.3s ease;
    }

    .footer {
        main {
            max-width: 1200px;

            .top {
                grid-template-columns: repeat(4, 1fr);
                gap:20px;
            }
        }
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .second-navbar {
        display: none;
    }

    .navbar {
        display: flex; 
        align-items: baseline;

        ul {
            li {
                a {
                    font-size: 14px;
                    margin:0 10px;
                }
            }
        }

        .btn-group {
            .btn {
                padding:6px 12px;
                font-size: 16px;
                background-color: transparent; 
                text-decoration: underline;
            }

            .btn-signup {
                display: none;
            }
        }
    }

    .container {
        max-width: 700px;
        margin:20px auto; 
    }

    .container > .row {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:10px;
    }

    .container > .row > .col > .card {
        width:223.33px;

        .card-badge {
            position: absolute;
            top:10px;
            left:10px;
            background-color: #00ff04e0;
            color:#ffffff;
            padding:5px 10px;
            font-size: 10px;
            border-radius: 3px;
            z-index: 1;
        }

        .card-body {
            h3 {
                font-size: 16px; 
            }
            p {
                font-size: 25px;
                margin-top: 3px;
            }
            button , a {
                font-size: 10px;
            }
        }
    }

    .card-img {
        overflow: hidden;
        width:100%;
        height: 300px;
    }

    .card-img img {
        width:100%;
        height: 100%;
        object-fit: cover; 
        transition: all 0.3s ease;
    }

    .footer {  
        main {
            max-width: 700px;
            margin:0 auto;
            /* background-color: red; */

            .top {
                grid-template-columns: repeat(2,1fr);
                gap:20px;
            }
        }
    }
}

@media screen and (max-width:575px) {
    body {
        position: relative;
    }

    .second-navbar {
        background-color: #858585;
        position: fixed;
        bottom:0;
        left:0;
        width:100%;
        z-index: 1000;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding:10px 0;

            li {
                list-style-type: none;

                a { 
                    color:#ffffff;
                    font-size: 22px;
                    display: block;
                    padding:15px 0;
                    transition: all 0.3s ease;

                    &:hover {
                        color:red;
                        transform: scale(1.5);
                    }
                }
            }

            li:nth-child(3) {
                a {
                    font-size: 28px;
                    background-color: #ff0000;
                    padding:15px 15px;
                    border-radius: 50%;

                    &:hover {
                        color:rgb(0, 0, 0);
                        background-color: #ffffff;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .navbar {

        display: flex;
        justify-content: space-between;

        ul , .btn-group {
            display: none;
        }

        .humburgur {
            display: block;
            font-size: 24px;
            cursor: pointer;
            color:#000000;
        }
    }

    .container {
        max-width: 350px;
        margin:30px auto; 
    }

    .container > .row {
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
    }

    .container > .row > .col > .card {
        width:350px;

        .card-badge {
            position: absolute;
            top:15px;
            left:15px;
            background-color: #ff0000d1;
            color:#fff;
            padding:5px 10px;
            font-size: 15px;
            border-radius: 3px;
            z-index: 1;
        }

        .card-body {
            h3 {
                font-size: 18px; 
            }
            p {
                font-size: 30px;
                margin-top: 3px;
            }
            button {
                font-size: 16px;
            }
        }
    }

    .footer {
        margin-bottom: 70px;
    }

    .footer main .top {
        grid-template-columns: 1fr;
        gap: 30px;

        section {
            /* background-color: red; */
            h3 {
                font-size: 18px;
            } 
        }
    }
}












